{% extends "siem.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <h4 title="WLAN Attack">WLAN Attack</h4>
        <div class="panel panel-default">
            <div class="panel-heading" title="WLAN Attack Parameter">WLAN Attack Parameter</div>
            <table class="table">
                <tr>
                    <td class="labl col-xs-5">
                        <label for="cfg_lanIpMode">{{ form.timeout.label }}</label>
                    </td>
                    <td class="val col-xs-7">
                        <div class="col-xs-12">{{ form.timeout() }}</div>
                    </td>
                </tr>
            </table>
        </div>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
